# Ignorar todos los archivos binarios generados por compilación
*.out
*.o
*.exe
*.a
*.so
*.dll

# Ignorar cualquier archivo sin extensión (binarios comunes en Linux)
exercise1
exercise2
exercise3
exercise4
exercise5

# Ignorar carpetas comunes de compilación
build/
dist/